@import '../assets/scss/variables.scss';
#sales {
  border-color: #13ace9f5;
}

.table-container{
  border-width: 5px;
  border-spacing: 2px;
  border-style: outset;
  border-collapse: separate;
  border-color: #13ace9f5;
}

table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 1rem;
  thead tr {
    text-align: left;
    
    th {
      border: none;
      font-size: 1.125rem;
      padding: 2rem 1.25rem;
      font-style: italic;
    }
  }

  tbody tr {

    td {
      padding: 1rem 1.25rem;
      border: none;
      white-space: wrap;

      img {
        max-width: 100px;
        height: auto;
      }
    }
  }

}


button {

  cursor: pointer;


  &.btn-delete {
    border: 2px solid #ec3434;
  }

  &.btn-delete:hover {
    background-color: lighten(#ec3434, 37%);
  }

}