@import 'variables';

@font-face {
    font-family: "PixelOperator8";
    src: url("../font/PixelOperator8.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-image: $background-image;
    font-family: "PixelOperator8", sans-serif;    
    font-size: $font-size;
    color: $color;
    margin: 0;
  }