@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("../img/stars3.gif");
  font-family: "Jost", sans-serif;
  font-size: 18px;
  color: #f1e4e4;
  margin: 0; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 90px;
  width: 70vw;
  border-width: 5px;
  border-spacing: 2px;
  border-style: outset;
  border-collapse: separate;
  border-color: #e917bc;
  margin-bottom: 20px; }

.text-right {
  text-align: right; }

.fx-row {
  display: flex;
  flex-direction: row; }

.fx-column {
  display: flex;
  flex-direction: column; }

.fx-space-between {
  justify-content: space-between; }

.fx-center {
  justify-content: center; }

.fx-items-center {
  align-items: center; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  height: 220px; }

header p {
  color: #17e917; }

header h1 {
  font-size: 3rem; }

header #page-title {
  display: flex;
  width: 50%;
  min-width: 600px;
  align-items: center;
  justify-content: center; }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  font-size: 1.25rem; }

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly; }

nav li {
  padding: 1rem 2rem; }

@media screen and (max-width: 1024px) {
  header > h1 {
    font-size: 2rem; }
  nav li, a {
    padding: 5px;
    font-size: 15px; } }

@media screen and (max-width: 768px) {
  header #name-text {
    width: 300px; }
  #page-title > h1 {
    font-size: 1rem; }
  nav li, a {
    padding: 5px;
    font-size: 13px; } }

#events {
  border-color: #f1ff33ee; }

.event-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: wrap; }

.event {
  border: 5px solid #f3fd61dc;
  background-color: #fffb00ee;
  border-style: outset;
  color: #000000;
  width: 45%;
  height: 750px;
  display: flex;
  flex-direction: column;
  margin: 2.5px; }

.event-image {
  height: 70%;
  width: 100%; }

.event-image img {
  width: 100%;
  height: 100%;
  padding-bottom: 5px; }

.event-details {
  height: 40%;
  width: 100%;
  background-color: #fffb00ee; }

/* Estilos para la sección de filtros */
#filter-section {
  padding: 2rem;
  border: none;
  border-spacing: 2px;
  border-collapse: separate;
  border: 5px outset #f1ff33ee;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  border-radius: 3px; }

/* Estilos para los campos de filtro */
input[type="text"],
input[type="number"] {
  flex-grow: 1;
  min-width: 200px;
  font-size: 1rem;
  padding: 1rem;
  border-spacing: 2px;
  border-collapse: separate;
  border: 5px outset #f1ff33ee;
  border-radius: 3px; }

button {
  border-spacing: 2px;
  border-collapse: separate;
  border: 5px outset #f1ff33ee; }

.message {
  padding-top: 5px; }

#sales {
  border-color: #13ace9f5; }

.table-container {
  border-width: 5px;
  border-spacing: 2px;
  border-style: outset;
  border-collapse: separate;
  border-color: #13ace9f5; }

table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 1rem; }
  table thead tr {
    text-align: left; }
    table thead tr th {
      border: none;
      font-size: 1.125rem;
      padding: 2rem 1.25rem;
      font-style: italic; }
  table tbody tr td {
    padding: 1rem 1.25rem;
    border: none;
    white-space: wrap; }
    table tbody tr td img {
      max-width: 100px;
      height: auto; }
